.recommended-friends{
    padding: 26px 0px;
    margin: 26px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title{
    font-size: 14px;
    color: var(--color-gray);
}

.recommended-friends span{
    margin: 100px 0px;
    display: block;
    text-align: center;
    color: var(--color-gray);
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span{
    color: var(--color-gray);
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.open-post__title{
    font-weight: 800;
    margin-bottom: 10px;
}

.open-post__hasgtags{
    text-transform: uppercase;
    opacity: 0.8;
}

.open-post__members{
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.open-post__members img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__members-count{
    opacity: 0.5;
}

.open-post__members .divider{
    width: 1.5px;
    height: 13px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 5px;
}

.open-post__members-status{
    color: rgb(44, 111, 255);
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.open-post__photo{
    position: relative;
}

.open-post__heart-count{
    width: 50px;
    height: 20px;
    color: ghostwhite;
    background-color: var(--color-gray);
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-size: 15px;
}

.open-post__heart-count span{
    margin-left: 5px;
}

@keyframes heartBeat{
    0% {
        transform: rotateY(0);
        color: ghostwhite;
      }

      50%{
        color: var(--blueviolet);
      }

    100% {
        transform: rotateY(-180deg);
        color: ghostwhite;
      }
}

.open-post__heart-count:hover i{
    will-change: transform;
    animation: heartBeat 1.5s ease-in-out infinite forwards;
}