#no-mobile{
    position: absolute;
    z-index: 40;
    height: 110vh;
    width: 100vw;
    background-color: var(--blueviolet);
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: ghostwhite;
}

#no-mobile span{
    margin-top: 10px;
}

@media screen and (max-width:645px){
    #no-mobile {
        display: none;
    }
}